.Palette .Theme {
  color: #004370;
}
.Palette .ThemeLight {
  color: hsl(204.10714286, 30%, 92%);
}
.Palette .ThemeDark {
  color: hsl(204.10714286, 100%, 12%);
}
.Palette .Neutral--100 {
  color: #FFF;
}
.Palette .Neutral--200 {
  color: #E6E6E6;
}
.Palette .Neutral--300 {
  color: #DBDBDB;
}
.Palette .Neutral--700 {
  color: #31322E;
}
.Palette .Neutral--900 {
  color: #000000;
}
.Semantic .Surface {
  color: #FFF;
}
.Semantic .OnSurface {
  color: #212121;
}
.Semantic .OnSurface--Weaker {
  color: #646464;
}
.Semantic .Canvas {
  color: #E6E6E6;
}
.Semantic .OnCanvas {
  color: #1e1e1e;
}
.Semantic .OnCanvas--Weaker {
  color: #5a5a5a;
}
.Semantic .Header {
  color: #004370;
}
.Semantic .OnHeader {
  color: #ffffff;
}
.Semantic .OnHeader--Weaker {
  color: #8facc0;
}
.Semantic .Outcome {
  color: hsl(204.10714286, 30%, 92%);
}
.Semantic .OnOutcome {
  color: #1e1f1f;
}
.Semantic .OnOutcome--Weaker {
  color: #595c5e;
}
.Semantic .Transaction {
  color: #1DAC8A;
}
.Semantic .OnTransaction {
  color: #ffffff;
}
.Semantic .OnTransaction--Weaker {
  color: #9cdacc;
}
.Semantic .Highlight {
  color: #FFA300;
}
.Semantic .Selected {
  color: #FFA300;
}
.Semantic .OnSelected {
  color: #211500;
}
.Semantic .OnSelected--Weaker {
  color: #644000;
}
.Semantic .Input {
  color: #004370;
}
.Semantic .Disabled {
  color: #DBDBDB;
}
.Semantic .OnDisabled {
  color: rgba(0, 0, 0, 0.24);
}
.Semantic .Success {
  color: #009D4F;
}
.Semantic .Warning {
  color: #FFD23B;
}
.Semantic .Danger {
  color: #EF382B;
}
.Semantic .Info {
  color: #666;
}
.Semantic .BetWon {
  color: #009D4F;
}
.Semantic .OnBetWon {
  color: #ffffff;
}
.Semantic .BetOpen {
  color: #FFD23B;
}
.Semantic .OnBetOpen {
  color: #211b08;
}
.Semantic .BetLost {
  color: #EF382B;
}
.Semantic .OnBetLost {
  color: #ffffff;
}
.Semantic .BetVoid {
  color: #666;
}
.Semantic .OnBetVoid {
  color: #ffffff;
}
.Semantic .CashOut {
  color: #1DAC8A;
}
.Semantic .OnCashOut {
  color: #ffffff;
}
.Semantic .OnCashOut--Weaker {
  color: #9cdacc;
}
.Semantic .Oddsboost {
  color: #00C1DE;
}
.Semantic .OnOddsboost {
  color: #00191d;
}
.Semantic .Priceboost {
  color: #00C1DE;
}
.Semantic .OnPriceboost {
  color: #00191d;
}
.Semantic .Eachway {
  color: #C93D79;
}
.Semantic .OnEachway {
  color: #ffffff;
}
.Semantic .Teaserplus {
  color: #C93D79;
}
.Semantic .OnTeaserplus {
  color: #ffffff;
}
.Semantic .Live {
  color: #ED1C34;
}
.Semantic .OnLive {
  color: #ffffff;
}
.Client .ClientBg {
  color: #E6E6E6;
}
.Client .ClientColor {
  color: #1e1e1e;
}
.Client .ClientColor--Weaker {
  color: #5a5a5a;
}
.ButtonContained .PrimaryBg {
  color: #FFF;
}
.ButtonContained .PrimaryBg--Hover {
  color: #ebf0f4;
}
.ButtonContained .PrimaryBg--Active {
  color: #e0e8ee;
}
.ButtonContained .PrimaryColor {
  color: #004370;
}
.ButtonContained .PrimaryColor--Hover {
  color: #002b47;
}
.ButtonContained .PrimaryColor--Active {
  color: #001e33;
}
.ButtonContained .PrimaryColor--Weaker {
  color: #4d7b9b;
}
.ButtonContained .PrimaryColor--Weaker--Hover {
  color: #3f6680;
}
.ButtonContained .PrimaryColor--Weaker--Active {
  color: #385b72;
}
.ButtonContained .SecondaryBg {
  color: hsl(204.10714286, 100%, 12%);
}
.ButtonContained .SecondaryBg--Hover {
  color: hsl(204.10714286, 100%, 24%);
}
.ButtonContained .SecondaryBg--Active {
  color: hsl(204.10714286, 100%, 28%);
}
.ButtonContained .SecondaryColor {
  color: #ffffff;
}
.ButtonContained .SecondaryColor--Hover {
  color: #ffffff;
}
.ButtonContained .SecondaryColor--Active {
  color: #ffffff;
}
.ButtonContained .SecondaryColor--Weaker {
  color: #8f9faa;
}
.ButtonContained .SecondaryColor--Weaker--Hover {
  color: #b2bdc4;
}
.ButtonContained .SecondaryColor--Weaker--Active {
  color: #bdc7cd;
}
.ButtonContained .CtaBg {
  color: #1DAC8A;
}
.ButtonContained .CtaBg--Hover {
  color: #2bdbb1;
}
.ButtonContained .CtaBg--Active {
  color: #3cdeb8;
}
.ButtonContained .CtaColor {
  color: #ffffff;
}
.ButtonContained .CtaColor--Hover {
  color: #ffffff;
}
.ButtonContained .CtaColor--Active {
  color: #ffffff;
}
.ButtonContained .CtaColor--Weaker {
  color: #9cdacc;
}
.ButtonContained .CtaColor--Weaker--Hover {
  color: #c8ebe3;
}
.ButtonContained .CtaColor--Weaker--Active {
  color: #d7f0ea;
}
.ButtonContained .DisabledBg {
  color: #DBDBDB;
}
.ButtonContained .DisabledColor {
  color: rgba(0, 0, 0, 0.24);
}
.ButtonText .PrimaryBg {
  color: rgba(255, 255, 255, 0);
}
.ButtonText .PrimaryBg--Hover {
  color: rgba(0, 67, 112, 0.12);
}
.ButtonText .PrimaryBg--Active {
  color: rgba(0, 67, 112, 0.16);
}
.ButtonText .PrimaryColor {
  color: #004370;
}
.ButtonText .PrimaryColor--Hover {
  color: #002b47;
}
.ButtonText .PrimaryColor--Active {
  color: #001e33;
}
.ButtonText .PrimaryColor--Weaker {
  color: rgba(0, 67, 112, 0.7);
}
.ButtonText .PrimaryColor--Weaker--Hover {
  color: rgba(0, 43, 71, 0.7);
}
.ButtonText .PrimaryColor--Weaker--Active {
  color: rgba(0, 30, 51, 0.7);
}
.ButtonText .SecondaryBg {
  color: rgba(255, 255, 255, 0);
}
.ButtonText .SecondaryBg--Hover {
  color: rgba(86, 86, 86, 0.1044);
}
.ButtonText .SecondaryBg--Active {
  color: rgba(68, 68, 68, 0.1392);
}
.ButtonText .SecondaryColor {
  color: rgba(0, 0, 0, 0.87);
}
.ButtonText .SecondaryColor--Hover {
  color: rgba(0, 0, 0, 0.87);
}
.ButtonText .SecondaryColor--Active {
  color: rgba(0, 0, 0, 0.87);
}
.ButtonText .SecondaryColor--Weaker {
  color: rgba(7, 7, 7, 0.609);
}
.ButtonText .SecondaryColor--Weaker--Hover {
  color: rgba(0, 0, 0, 0.609);
}
.ButtonText .SecondaryColor--Weaker--Active {
  color: rgba(0, 0, 0, 0.609);
}
.ButtonText .DisabledBg {
  color: rgba(255, 255, 255, 0);
}
.ButtonText .DisabledColor {
  color: rgba(0, 0, 0, 0.24);
}
.CollapsibleContainer .HeaderBg {
  color: #004370;
}
.CollapsibleContainer .HeaderBg--Hover {
  color: #0068ad;
}
.CollapsibleContainer .HeaderBg--Active {
  color: #0074c2;
}
.CollapsibleContainer .HeaderColor {
  color: #ffffff;
}
.CollapsibleContainer .HeaderColor--Hover {
  color: #ffffff;
}
.CollapsibleContainer .HeaderColor--Active {
  color: #ffffff;
}
.CollapsibleContainer .HeaderColor--Weaker {
  color: #8facc0;
}
.CollapsibleContainer .HeaderColor--Weaker--Hover {
  color: #b6c9d6;
}
.CollapsibleContainer .HeaderColor--Weaker--Active {
  color: #c3d3dd;
}
.EventList .ListItemBg {
  color: #FFF;
}
.EventList .ListItemBg--Hover {
  color: #ededed;
}
.EventList .ListItemBg--Active {
  color: #e4e4e4;
}
.EventList .ListItemColor {
  color: #212121;
}
.EventList .ListItemColor--Hover {
  color: #0d0d0d;
}
.EventList .ListItemColor--Active {
  color: #030303;
}
.EventList .ListItemColor--Weaker {
  color: #646464;
}
.EventList .ListItemColor--Weaker--Hover {
  color: #4f4f4f;
}
.EventList .ListItemColor--Weaker--Active {
  color: #454545;
}
.ButtonOutcome .DefaultBg {
  color: hsl(204.10714286, 30%, 92%);
}
.ButtonOutcome .DefaultBg--Hover {
  color: hsl(204.10714286, 30%, 84%);
}
.ButtonOutcome .DefaultBg--Active {
  color: hsl(204.10714286, 30%, 80%);
}
.ButtonOutcome .DefaultColor {
  color: #1e1f1f;
}
.ButtonOutcome .DefaultColor--Hover {
  color: #0a0a0a;
}
.ButtonOutcome .DefaultColor--Active {
  color: #000000;
}
.ButtonOutcome .DefaultColor--Weaker {
  color: #595c5e;
}
.ButtonOutcome .DefaultColor--Weaker--Hover {
  color: #454849;
}
.ButtonOutcome .DefaultColor--Weaker--Active {
  color: #3c3d3f;
}
.ButtonOutcome .SelectedBg {
  color: #FFA300;
}
.ButtonOutcome .SelectedBg--Hover {
  color: #d68900;
}
.ButtonOutcome .SelectedBg--Active {
  color: #c27c00;
}
.ButtonOutcome .SelectedColor {
  color: #211500;
}
.ButtonOutcome .SelectedColor--Hover {
  color: #000000;
}
.ButtonOutcome .SelectedColor--Active {
  color: #000000;
}
.ButtonOutcome .SelectedColor--Weaker {
  color: #644000;
}
.ButtonOutcome .SelectedColor--Weaker--Hover {
  color: #3b2600;
}
.ButtonOutcome .SelectedColor--Weaker--Active {
  color: #271900;
}
.ButtonOutcome .DisabledBg {
  color: #DBDBDB;
}
.ButtonOutcome .DisabledColor {
  color: rgba(0, 0, 0, 0.24);
}
